.category-bar {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  margin: 50px 0;
}

.category-item {
  display: flex;
  flex-direction: column;   /* icon trên - chữ dưới */
  align-items: center;
  justify-content: center;
  width: 120px;
  padding: 20px;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  
  border: 2px solid transparent;
}

.category-item .icon {
  width: 70px;   /* icon to rõ */
  height: 70px;
  object-fit: contain;
  font-size: 4rem;
  margin-bottom: 12px;
}

.category-item .label {
  font-size: 18px;
  font-weight: 600;
  color: #222;
}

.category-item:hover {
  transform: translate3d(0, -10px, 0);
  background: #fff;
  border: 2px solid #2563eb;
  box-shadow: 0 6px 18px rgba(6, 72, 213, 0.7);
  color: #2563eb;
  transition: all 0.5s ease-in-out;
  /* margin-bottom: 1.25px; */
}
/* 
.category-item.active {
  background: #fff;
  border: 2px solid #ff4dc4;
  box-shadow: 0 6px 18px rgba(255, 0, 150, 0.2);
} */
